@model hackaton.Models.User
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

@*<h1>Index</h1>
<p>
    <a asp-action="Logout" class="btn btn-primary">Deslogar</a>
</p>*@

<head>
    <link rel="stylesheet" href="~/css/sharedStyles.css" type="text/css" />
</head>

<div class="header">
    <div class="header-logo">
        <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/1f98e9ba4b641cb18ce0d6dda5c66204564ff52a/logo%2Bnome.svg"></img>
    </div>
    <div class="header-buttons">
        <a asp-action="Logout" type="button" class="btn btn-primary btn-override primary-color-override btn-header">
            <span>Logout</span>
        </a>
        <a asp-controller="Home" asp-action="Index" type="button" class="btn btn-primary btn-override primary-color-override btn-header">
            <span>Home</span> <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/976c737dd815789553dc686c0984cba499f04a76/orange-home.svg" class="icon home"></img>
        </a>
    </div>
</div>
<div class="main_container">

    <div class="main_card signup">

        <div class="content">
            <form asp-action="Index" style="min-width:100%"></form>
            <div class="leading-generic">
                <div class="techagro">
                    <span class="text_primary">tech</span><span class="text_secondary">agro</span>
                </div>
                <div class="heading">
                    <span>Perfil de Produtor</span>
                </div>
                <div class="detail">
                    <span>Visualize seus dados pessoais</span>
                </div>
            </div>
            <div class="trailing">
                <div class="inputs">

                    <div class="form-group" style="min-width:100%">
                        <label class="input-description">Nome</label>
                        <div class="input env" data-cluster="btn1">
                            <div class="sub">
                                <input class="form-control textbox" data-cluster="btn1" placeholder="Alterar nome" value="@Html.ViewBag.User.Name" asp-for="Name">
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="min-width:100%">
                        <label class="input-description">Alterar Senha</label>
                        <div class="input env" data-cluster="btn1">
                            <div class="sub">
                                <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/vpn_key_FILL0_wght400_GRAD0_opsz48.svg" class="icon"></img>
                                <input class="form-control textbox" data-cluster="btn1" type="password" placeholder="●●●●●●" asp-for="Password">
                            </div>
                            <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/visibility_off_FILL0_wght400_GRAD0_opsz48.svg" class="icon eye hide"></img>
                        </div>
                    </div>

@*                    <label class="input-description">Confirmar Nova Senha</label>
                    <div class="input env" data-cluster="btn1">
                        <div class="sub">
                            <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/vpn_key_FILL0_wght400_GRAD0_opsz48.svg" class="icon"></img>
                            <input class="textbox" data-cluster="btn1" type="password" placeholder="●●●●●●">
                        </div>
                        <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/visibility_off_FILL0_wght400_GRAD0_opsz48.svg" class="icon eye hide"></img>
                    </div>*@

                    <label class="input-description">CPF</label>
                    <div class="input env" data-cluster="btn1">
                        <div class="sub">
                            <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/badge_FILL0_wght400_GRAD0_opsz48.svg" class="icon"></img>
                            <span class="textbox" data-cluster="btn1" placeholder="123.456.789-00">@Html.ViewBag.User.CPF</span>
                        </div>
                        <img src="https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/check_circle_FILL0_wght400_GRAD0_opsz48.svg" class="icon"></img>
                    </div>

                    <div class="form-group" style="min-width:100%">
                        <input hidden class="form-control" value="@Html.ViewBag.User.CPF" asp-for="CPF"/>
                    </div>

                </div>

                <div class="actions">
                    <a asp-controller="Users" asp-action="" class="btn btn-primary btn-override primary-color-override"> <!--NÃO IMPLEMENTADO-->
                        <label>Salvar Alterações</label>
                    </a>
                    <div asp-controller="Users" asp-action="Delete" type="submit" value="Excluir Perfil" class="btn btn-danger btn-override danger-color-override">
                        <label>Excluir Perfil</label>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.textbox').on('focus', function () {
                $(this).parent().parent('.env').addClass('env-margin');
            });

            $('.textbox').on('blur', function () {
                $(this).parent().parent('.env').removeClass('env-margin');
            });

            $('.env').on('click', function () {
                $(this).children().children('.textbox').focus();
            });

            $('.eye').on('click', function () {
                console.log('aa');
                if ($(this).hasClass('hide')) {
                    console.log("rem");
                    $(this).removeClass('hide');
                    $(this).addClass('show');
                    $(this).siblings('.sub').children('.textbox').attr('type', '');
                    $(this).attr('src', 'https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/visibility_FILL0_wght400_GRAD0_opsz48.svg')
                }
                else {
                    $(this).removeClass('show');
                    $(this).addClass('hide');
                    $(this).attr('src', 'https://raw.githubusercontent.com/WarmMateTea/ImageRepo/f85728639824166be9728567f69f6f2289494d2e/visibility_off_FILL0_wght400_GRAD0_opsz48.svg');
                    $(this).siblings('.sub').children('.textbox').attr('type', 'password');
                }
            })
        });
    </script>
